div#contenido {
    /*background-color: cyan;*/
    border: 1px solid lawngreen;
    border-radius: 4px;

    margin: 25px auto;
    padding: 20px;

    width: 300px;
    height: 200px;
}

div#contenido > h1 {
    color: lawngreen;
    
    border-top: 1px dashed lawngreen;
    border-bottom: 1px dashed lawngreen;

    padding: 5px;

    font-size: 25px;
    font-family: 'Oswald';
}

div#contenido > form > span {
    border: 1px solid black;

    display: block;
    margin-bottom: 10px;
    width: 100px;

    font-size: 20px;
    font-family: 'Oswald';
}